@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	-moz-user-select: none;
}

.data-import-error {
	color: red;
	text-align: left;
}

.data-import-warn {
	color: orange;
	text-align: left;
}

.data-import-success {
	color: green;
	text-align: left;
}

.modal-header {
	background-color: #337ab7;
}

.mg2 {
	margin-left: 2px !important;
}

table {
	table-layout: fixed;
}

td {
	width: 100%;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.normal-td {
	word-break: normal !important;
	white-space: normal !important;
	word-break: break-all !important;
}

.select {
	background-color: #D9EDF7 !important;
}

.data-table {
	border-bottom: 1px solid #DDD !important;
	border-radius: 4px !important;
}

.data-table tbody {
	border-bottom: 2px solid #DDDDDD !important;
}

.dataTables_length {
	margin-left: 12px;
	margin-top: 8px;
}

.dataTables_info {
	display: inline-block;
}

.dataTables_length {
	display: inline-block;
}

.dataTables_paginate {
	display: inline-block;
	float: right;
}

input, textarea, select {
	color: #555 !important;
}

table.dataTable thead>tr>th {
	padding-right: 0px !important;
}

.pagination>li, .pagination>li>a, #table-tools button,
	.fixed-table-toolbar button {
	outline: none !important;
}

.dataTables_processing {
	color: #13BAD5;
	font-weight: 700;
}

.subHeader-container {
	z-index: 1024 !important;
}

.dataMgt-checkBox {
	margin-top: 5px;
}

.pre_style {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	min-height: 35px;
}